body {
  margin: 0px;
}

.exam-nav {
  width: 100%;
  height: 70px;
  position: fixed;
  text-align: center;
  display: flex;
  margin: auto;
  background-color: white;
  z-index: 3;
}

.nav-div {
  width: 33%;
  margin: auto;
}

.nav-div1 {
  width: 10%;
  margin: auto 10px;
}

.content{
  position: relative;
  top: 70px;
}

.flip-outer{
  width: 300px;
  height: 300px;
  margin-left: 50px;
}

.flip-inner1 {
  width: 100%;
  height: 100%;
  position: relative;
  left: 200px;
  transition: all 1s;
  transform-style: preserve-3d;
  float: left;
}

.flip-inner {
  width: 100%;
  height: 100%;
  position: relative;
  left: 200px;
  
}


.front{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 1;
  border-radius: 50%;
  float: left;
}

.flip-inner1:hover {
  transform: rotateY(180deg);
}

.back{
  width: 100%;
  height: 100%;
  background-image: url('../image/축구.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  transform: rotateY(180deg);
}

.text{
  width: 500px;
  height: 300px;
  background-color: whitesmoke;
  margin-left: 450px;
  padding: 20px;
  box-sizing: border-box;
  line-height: 30px;
}

.mf{
  margin-left: 650px;
}

.href-class {
  text-decoration: none;
}

.href-class2{
  text-decoration: none;
  font-weight: bold;
}



a:visited {
  color: black;
  
}


a:active {
  color: black;
}

@media screen and (max-width: 767px){
  .exam-nav{
    font-size: 8px;
    box-sizing: border-box;
    height: 70px;
  }
 
  .nav-div1{
   width: 14%;
  }
  .flip-outer{
    width: 300px;
    height: 300px;
    margin-left:-180px;
  }

} 

