body {
  margin: 0px;
}

.exam-nav {
  width: 100%;
  padding: 5px;
  position: fixed;
  text-align: center;
  display: flex;
  margin: auto;
  background-color: white;
  z-index: 3;
}

.nav-div {
  width: 33%;
  margin: auto;
}

.nav-div1 {
  width: 10%;
  margin: auto 1%;
}

.container {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./image/background.jpg');
  background-size: cover;
  background-repeat: none;
  background-position-y: 75%;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  top: 70px;

}

.content {
  width: 80%;
  margin: auto;
  background-color: gainsboro;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 60px;
  padding: 30px;  
  box-sizing: border-box;
  text-align: center;

}

.my-image {
  height: 400px;
  width: 25%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./image/me.jpg');
  background-size: cover;
  background-repeat: none;
  background-position-x: 70%;
  margin: 40px auto;
}

.href-style {
  font-weight: bold;
}

.show{
  display: none;
}

.hidden{
  display: block;
}

.href-class1{
  font-weight: bold;
}

.href-normal{
  font-weight: normal;
}

.href-class{
  font-weight: bold;
}

a{
  text-decoration: none;
}



@media screen and (max-width: 767px) {
  .exam-nav {
    font-size: 8px;
    box-sizing: border-box;
    height: 70px;
  }

  .nav-div1 {
    width: 14%;
  }

  .container {
    width: auto;
    height: auto;
  }

  .content {
    padding: 10px;
    width: auto;
    height: auto;
    font-size: 12px;
  }

  .my-image {
    width: 90%;
    background-position-x: 75%;
  }
}
